{% extends "layout.html" %}
{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="welcome">
        <div class="wrap">
            <div class="welcome__wrap">
                <div class="welcome__content">
                    <div class="welcome__title">
                        <div class="welcome__title-line-1">B2B сервис подбора</div>
                        <div class="welcome__title-line-2">производственных и оптовых компаний</div>
                    </div>
                    <div class="welcome__text">С целью воспрепятствования этому, земляне начинают эксперименты с временной петлей, новые циклы возвращают время.</div>
                    <div class="welcome__actions">
                        <a class="welcome__action" href="/organizations">Начать подбор</a>
                        <a class="welcome__action welcome__action--transparent" href="#">О сервисе</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="triggers">
        <div class="wrap">
            <div class="triggers__wrap container">
                <div class="col col-4">
                    <div class="trigger">
                        <figure class="trigger__icon">
                            <picture>
                                <img class="trigger__icon-image" src="/static/assets/icons/delivery.svg"  alt=""/>
                            </picture>
                        </figure>
                        <div class="trigger__info">
                            <div class="trigger__name">Доставка по всему миру</div>
                            <div class="trigger__text">С целью воспрепятствования этому, земляне начинают эксперименты с временной петлей, новые циклы возвращают время.</div>
                        </div>
                    </div>
                </div>
                <div class="col col-4">
                    <div class="trigger">
                        <figure class="trigger__icon">
                            <picture>
                                <img class="trigger__icon-image" src="/static/assets/icons/card.svg"  alt=""/>
                            </picture>
                        </figure>
                        <div class="trigger__info">
                            <div class="trigger__name">Удобные способы оплаты</div>
                            <div class="trigger__text">С целью воспрепятствования этому, земляне начинают эксперименты с временной петлей, новые циклы возвращают время.</div>
                        </div>
                    </div>
                </div>
                <div class="col col-4">
                    <div class="trigger">
                        <figure class="trigger__icon">
                            <picture>
                                <img class="trigger__icon-image" src="/static/assets/icons/warranty.svg"  alt=""/>
                            </picture>
                        </figure>
                        <div class="trigger__info">
                            <div class="trigger__name">Только проверенные поставщики</div>
                            <div class="trigger__text">С целью воспрепятствования этому, земляне начинают эксперименты с временной петлей, новые циклы возвращают время.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
