<div class="search__result-item">
    <div class="search__card">
        <div class="search__card-head">
            <h3 class="search__card-title">
                <a class="search__card-link" href="#">{{ row[4] if row[4] is not none }}</a>
            </h3>
            <div class="search__card-tags">
                <div class="search__card-tag">Машиностроение</div>
            </div>
        </div>
        <div class="search__card-body">
            <div class="search__card-description">{{ row[9] if row[9] is not none }}</div>
        </div>
        {% if row[11] is not none or row[13] is not none or row[14] is not none %}
        <div class="search__card-meta">
            {% if row[11] is not none %}
            <div class="search__card-meta-item">
                <a class="search__card-meta-link" href="">{{ row[11] }}</a>
            </div>
            {% endif %}
            {% if row[13] is not none %}
            <div class="search__card-meta-item">
                <a class="search__card-meta-link" href="">{{ row[13] }}</a>
            </div>
            {% endif %}
            {% if row[14] is not none %}
            <div class="search__card-meta-item">
                <a class="search__card-meta-link" href="">{{ row[14] }}</a>
            </div>
            {% endif %}
        </div>
        {% endif %}
        <div class="search__card-rating">
            <div class="search__card-stars">
                <span class="search__card-star"><img src="/static/assets/icons/star.svg" alt=""></span>
                <span class="search__card-star"><img src="/static/assets/icons/star.svg" alt=""></span>
                <span class="search__card-star"><img src="/static/assets/icons/star.svg" alt=""></span>
                <span class="search__card-star"><img src="/static/assets/icons/star.svg" alt=""></span>
                <span class="search__card-star"><img src="/static/assets/icons/star-outline.svg" alt=""></span>
            </div>
            <div class="search__card-reviews">10 отзывов</div>
        </div>
        <div class="search__card-products">
            {% include "search_card_product.html" %}
        </div>
    </div>
</div>